hr{
    width: 100%;
}
html{
    scroll-behavior: smooth;
}
@keyframes enter{
    0%{
        opacity: 0%;
        bottom: -100px;
    }
    20%{
        opacity: 0%;
        bottom: -100px;
    }
    100%{
        opacity: 100%;
        bottom: 0px;
    }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
    body{
        font-family: 'Merriweather', serif;
    }
    h1{
        font-size: 2.5rem;
    }
    p{
        font-size: 1.25rem;
    }
    .navbar{
        text-transform: uppercase;
        background-image: linear-gradient(45deg, #1167b1  0%, #187bcd 100%);
    }
    .navbar a{
        font-size: 3.5vw;
        color: white;
        text-shadow: 0px 1px rgba(0,0,0,0.4),0px 1.5px rgba(0,0,0,0.1),0px 2px rgba(0,0,0,0.1);
    }
    .navbar a:hover{
        color: #e38f10;
    }
    .row:nth-of-type(2n){
        flex-direction: row-reverse;
    }
    .section:nth-of-type(3){
        background-image: linear-gradient(45deg, #6BD0FF  0%, #009fff 100%);
    }
    .hero{
        height: 100vh;
        background-image: url('./img/hero.jpg');
        background-size: cover;
        color: white;
        text-shadow: 0px 1px rgba(0,0,0,0.4),0px 1.5px rgba(0,0,0,0.1),0px 2.5px rgba(0,0,0,0.1);
        
    }
    .hero::after{
        content:'';
        position: absolute;
        left:0;
        right:0;
        bottom: 0;
        height: 200px;
        background-color: white;
        clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
    }
    .footer{
        background-image: linear-gradient(90deg, #1167b1  0%, #187bcd 100%);
    }
    
    .desktop{
        display: none;
    }
    .rowMobile{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 4%;
        margin-right: 4%;
        margin-top: 2%;
    }
    .imgRow{
        width: 30%;
        padding: 10px;
    }
    .heroMain{
        animation: enter 3s;
    }

}

@media screen and (min-width:768px) and (max-width:992px){
        body{
            font-family: 'Merriweather', serif;
        }
        h1{
            font-size: 2.5rem;
        }
        p{
            font-size: 1.25rem;
        }
        .navbar{
            text-transform: uppercase;
            background-image: linear-gradient(45deg, #1167b1  0%, #187bcd 100%);
        }
        .navbar a{
            font-size: 3.5vw;
            color: white;
            text-shadow: 0px 1px rgba(0,0,0,0.4),0px 2px rgba(0,0,0,0.1),0px 4px rgba(0,0,0,0.1);
        }
        .navbar a:hover{
            color: #e38f10;
        }
        .row:nth-of-type(2n){
            flex-direction: row-reverse;
        }
        .section:nth-of-type(3){
            background-image: linear-gradient(45deg, #6BD0FF  0%, #009fff 100%);
        }
        .hero{
            height: 100vh;
            background-image: url('./img/hero.jpg');
            background-size: cover;
            color: white;
            text-shadow: 0px 1px rgba(0,0,0,0.4),0px 2px rgba(0,0,0,0.1),0px 4px rgba(0,0,0,0.1);
            
        }
        .hero::after{
            content:'';
            position: absolute;
            left:0;
            right:0;
            bottom: 0;
            height: 200px;
            background-color: white;
            clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
        }
        .footer{
            background-image: linear-gradient(90deg, #1167b1  0%, #187bcd 100%);
        }
        
        .desktop{
            display: none;
        }
        .rowMobile{
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 4%;
            margin-right: 4%;
            margin-top: 2%;
        }
        .imgRow{
            width: 30%;
            padding: 10px;
        }
        .heroMain{
            animation: enter 3s;
        }
    
    }

@media screen and (min-width: 992px){
    .mobile{
     display: none;
    }
    .rowMobile{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .imgRow{
        width: 10%;
    }
    body{
        font-family: 'Merriweather', serif;
    }
    h1{
        font-size: 4vw;
    }
    p{
        font-size: 2vw;
    }
    .hero a{
        font-size: 1.8vw;
    }
    .navbar{
        text-transform: uppercase;
        background-image: linear-gradient(45deg, #1167b1  0%, #187bcd 100%);
        width: 100%;
    }
    .navbar a{
        font-size: 1.5rem;
        color: white;
        text-shadow: 0px 1px rgba(0,0,0,0.4),0px 2px rgba(0,0,0,0.1),0px 4px rgba(0,0,0,0.1);
    }
    .textShadow{
        text-shadow: 0px 1px rgba(255,255,255,0.4),0px 2px rgba(255,255,255,0.1),0px 4px rgba(255,255,255,0.1);
    }
    .navbar a:hover{
        color: #e38f10;
    }
    .row:nth-of-type(2n){
        flex-direction: row-reverse;
    }
    .section:nth-of-type(3){
        background-image: linear-gradient(45deg, #6BD0FF  0%, #009fff 100%);
    }
    .hero{
        height: 100vh;
            background-image: url('./img/hero.jpg');
            background-size: cover;
            color: white;
            text-shadow: 0px 1px rgba(0,0,0,0.4),0px 2px rgba(0,0,0,0.1),0px 4px rgba(0,0,0,0.1);
            
    }
    .heroMain{
        animation: enter 3s;
    }
    .hero p{
        padding: 100px;
    }
    .hero::after{
        content:'';
        position: absolute;
        left:0;
        right:0;
        bottom: 0;
        height: 200px;
        background-color: white;
        clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
    }
    .footer{
        background-image: linear-gradient(90deg, #1167b1  0%, #187bcd 100%);
    }
    
    
    
}
